option_settings:
  aws:elasticbeanstalk:application:environment:
    # these become ENV vars in your Flask app
    AWS_S3_BUCKET:        tsakorpus-data
    ES_ENDPOINT:          arn:aws:es:us-east-1:391771576492:domain/tsakorpus

packages:
  yum:
    # so we can use pip3
    python3-pip: []

commands:
  01_install_awscli:
    command: pip3 install --upgrade awscli

container_commands:
  # these run *after* pip install but *before* your WSGI server starts
  01_sync_json:
    command: |
      aws s3 sync s3://$AWS_S3_BUCKET/corpus/json    /var/app/current/src_convertors/corpus/json
    leader_only: true

  02_sync_media:
    command: |
      aws s3 sync s3://$AWS_S3_BUCKET/corpus/media   /var/app/current/src_convertors/corpus/media
    leader_only: true

  03_run_indexator:
    command: >
      /usr/bin/python3
        /var/app/current/indexator/indexator.py
    leader_only: true
